# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path('schools_complete.csv')
student_data_to_load = Path('students_complete.csv')

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count =school_data["school_name"].value_counts()
school_count

school_name
Huang High School        1
Figueroa High School     1
Shelton High School      1
Hernandez High School    1
Griffin High School      1
Wilson High School       1
Cabrera High School      1
Bailey High School       1
Holden High School       1
Pena High School         1
Wright High School       1
Rodriguez High School    1
Johnson High School      1
Ford High School         1
Thomas High School       1
Name: count, dtype: int64

In [3]:
# Calculate the total number of students
student_count = len(student_data["gender"].sum())
student_count

39170

In [4]:
# Calculate the total budget
total_budget =school_data["budget"].sum()
total_budget

np.int64(24649428)

In [5]:
# Calculate the average (mean) math score
average_math_score =student_data["math_score"].mean()
average_math_score

np.float64(78.98537145774827)

In [6]:
# Calculate the average (mean) reading score
average_reading_score =student_data["reading_score"].mean()
average_reading_score

np.float64(81.87784018381414)

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

np.float64(74.9808526933878)

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_count = 33610
passing_reading_percentage =85.8

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

np.float64(65.17232575950983)

In [10]:
# Calculating key metrics
total_schools = school_data['school_name'].nunique()
total_students = student_data['student_name'].count()
total_budget = school_data['budget'].sum()
average_math_score = school_data_complete['math_score'].mean()
average_reading_score = school_data_complete['reading_score'].mean()
passing_math_count = school_data_complete[school_data_complete['math_score'] >= 70].shape[0]
passing_reading_count = school_data_complete[school_data_complete['reading_score'] >= 70].shape[0]
percent_passing_math = (passing_math_count / total_students) * 100
percent_passing_reading = (passing_reading_count / total_students) * 100
passing_math_reading_count = school_data_complete[
    (school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)
].shape[0]
overall_passing_rate = (passing_math_reading_count / total_students) * 100

# Creating the district summary DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.1f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.1f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,74.98%,85.81%,65.17%

## School Summary

In [11]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

print(school_types.head())

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count per school from school_data
per_school_counts =student_data["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [13]:
# Calculating the total budget per school
per_school_budget = school_data.set_index("school_name")["budget"]

# Calculating the number of students per school
students_per_school = student_data.groupby("school_name")["student_name"].count()

# Calculating per capita spending (total budget / number of students)
per_school_capita = per_school_budget / students_per_school

print("Per School Budget:\n", per_school_budget.head())
print("\nPer School Capita:\n", per_school_capita.head())

Per School Budget:
 school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Name: budget, dtype: int64

Per School Capita:
 school_name
Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [14]:
# Calculating the average math and reading scores per school
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

print("Average Math Scores per School:\n", per_school_math.head())
print("\nAverage Reading Scores per School:\n", per_school_reading.head())

Average Math Scores per School:
 school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

Average Reading Scores per School:
 school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [15]:
# Calculating the number of students with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]

# Calculating the number of students passing math per school
school_students_passing_math = students_passing_math.groupby("school_name")["student_name"].count()
 
print("Number of Students Passing Math:\n", students_passing_math.head())
print("\nNumber of Students Passing Math per School:\n", school_students_passing_math.head())

Number of Students Passing Math:
    Student ID   student_name gender grade        school_name  reading_score  \
0           0   Paul Bradley      M   9th  Huang High School             66
4           4     Bonnie Ray      F   9th  Huang High School             97
5           5  Bryan Miranda      M   9th  Huang High School             94
6           6  Sheena Carter      F  11th  Huang High School             82
8           8   Michael Roth      M  10th  Huang High School             95

   math_score  School ID      type  size   budget
0          79          0  District  2917  1910635
4          84          0  District  2917  1910635
5          94          0  District  2917  1910635
6          80          0  District  2917  1910635
8          87          0  District  2917  1910635

Number of Students Passing Math per School:
 school_name
Bailey High School      3318
Cabrera High School     1749
Figueroa High School    1946
Ford High School        1871
Griffin High School     1371
Name: student_name, dtype: int64

In [16]:
# Calculating the number of students with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]

# Calculating the number of students passing reading per school
school_students_passing_reading = students_passing_reading.groupby("school_name")["student_name"].count()

print("Number of Students Passing Reading:\n", students_passing_reading.head())
print("\nNumber of Students Passing Reading per School:\n", school_students_passing_reading.head())

Number of Students Passing Reading:
    Student ID     student_name gender grade        school_name  reading_score  \
1           1     Victor Smith      M  12th  Huang High School             94
2           2  Kevin Rodriguez      M  12th  Huang High School             90
4           4       Bonnie Ray      F   9th  Huang High School             97
5           5    Bryan Miranda      M   9th  Huang High School             94
6           6    Sheena Carter      F  11th  Huang High School             82

   math_score  School ID      type  size   budget
1          61          0  District  2917  1910635
2          60          0  District  2917  1910635
4          84          0  District  2917  1910635
5          94          0  District  2917  1910635
6          80          0  District  2917  1910635

Number of Students Passing Reading per School:
 school_name
Bailey High School      4077
Cabrera High School     1803
Figueroa High School    2381
Ford High School        2172
Griffin High School     1426
Name: student_name, dtype: int64

In [17]:
# Calculating the number of students with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]

# Calculating the number of students passing reading per school
school_students_passing_reading = students_passing_reading.groupby("school_name")["student_name"].count()

print("Number of Students Passing Reading:\n", students_passing_reading.head())
print("\nNumber of Students Passing Reading per School:\n", school_students_passing_reading.head())

Number of Students Passing Reading:
    Student ID     student_name gender grade        school_name  reading_score  \
1           1     Victor Smith      M  12th  Huang High School             94
2           2  Kevin Rodriguez      M  12th  Huang High School             90
4           4       Bonnie Ray      F   9th  Huang High School             97
5           5    Bryan Miranda      M   9th  Huang High School             94
6           6    Sheena Carter      F  11th  Huang High School             82

   math_score  School ID      type  size   budget
1          61          0  District  2917  1910635
2          60          0  District  2917  1910635
4          84          0  District  2917  1910635
5          94          0  District  2917  1910635
6          80          0  District  2917  1910635

Number of Students Passing Reading per School:
 school_name
Bailey High School      4077
Cabrera High School     1803
Figueroa High School    2381
Ford High School        2172
Griffin High School     1426
Name: student_name, dtype: int64

In [18]:
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby("school_name").size()

# Calculating the number of students with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby("school_name").size()

# Calculating the number of students with both math and reading scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby("school_name").size()

# Calculating the total number of students per school
per_school_counts = student_data.groupby("school_name").size()

# Calculating the percentage of students passing math per school
per_school_passing_math = (school_students_passing_math / per_school_counts) * 100

# Calculating the percentage of students passing reading per school
per_school_passing_reading = (school_students_passing_reading / per_school_counts) * 100

# Calculating the percentage of students passing both math and reading per school
overall_passing_rate = (school_students_passing_math_and_reading / per_school_counts) * 100

# Creating a DataFrame to display the results
summary_df = pd.DataFrame({
    "Total Students": per_school_counts,
    "Passing Math": per_school_passing_math,
    "Passing Reading": per_school_passing_reading,
    "Overall Passing Rate": overall_passing_rate
})

# Format the DataFrame for better readability
summary_df["Total Students"] = summary_df["Total Students"].map("{:,}".format)
summary_df["Passing Math"] = summary_df["Passing Math"].map("{:.2f}%".format)
summary_df["Passing Reading"] = summary_df["Passing Reading"].map("{:.2f}%".format)
summary_df["Overall Passing Rate"] = summary_df["Overall Passing Rate"].map("{:.2f}%".format)

# Display the DataFrame
print(summary_df)

                      Total Students Passing Math Passing Reading  \
school_name
Bailey High School             4,976       66.68%          81.93%
Cabrera High School            1,858       94.13%          97.04%
Figueroa High School           2,949       65.99%          80.74%
Ford High School               2,739       68.31%          79.30%
Griffin High School            1,468       93.39%          97.14%
Hernandez High School          4,635       66.75%          80.86%
Holden High School               427       92.51%          96.25%
Huang High School              2,917       65.68%          81.32%
Johnson High School            4,761       66.06%          81.22%
Pena High School                 962       94.59%          95.95%
Rodriguez High School          3,999       66.37%          80.22%
Shelton High School            1,761       93.87%          95.85%
Thomas High School             1,635       93.27%          97.31%
Wilson High School             2,283       93.87%          96.54%
Wright High School             1,800       93.33%          96.61%

                      Overall Passing Rate
school_name
Bailey High School                  54.64%
Cabrera High School                 91.33%
Figueroa High School                53.20%
Ford High School                    54.29%
Griffin High School                 90.60%
Hernandez High School               53.53%
Holden High School                  89.23%
Huang High School                   53.51%
Johnson High School                 53.54%
Pena High School                    90.54%
Rodriguez High School               52.99%
Shelton High School                 89.89%
Thomas High School                  90.95%
Wilson High School                  90.58%
Wright High School                  90.33%

In [19]:
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

# Calculate the number of students passing math and reading
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby("school_name").size()

students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby("school_name").size()

students_passing_math_and_reading = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby("school_name").size()

# Calculate percentages
per_school_passing_math = (school_students_passing_math / per_school_counts) * 100
per_school_passing_reading = (school_students_passing_reading / per_school_counts) * 100
overall_passing_rate = (school_students_passing_math_and_reading / per_school_counts) * 100

# Create the per_school_summary DataFrame
per_school_summary = pd.DataFrame({
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "Passing Math Percentage": per_school_passing_math,
    "Passing Reading Percentage": per_school_passing_reading,
    "Overall Passing Rate": overall_passing_rate
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:.2f}".format)
per_school_summary["Passing Math Percentage"] = per_school_summary["Passing Math Percentage"].map("{:.2f}%".format)
per_school_summary["Passing Reading Percentage"] = per_school_summary["Passing Reading Percentage"].map("{:.2f}%".format)
per_school_summary["Overall Passing Rate"] = per_school_summary["Overall Passing Rate"].map("{:.2f}%".format)

# Display the DataFrame
print(per_school_summary)

                       Total Students Total School Budget Per Student Budget  \
school_name
Bailey High School               4976       $3,124,928.00            $628.00
Cabrera High School              1858       $1,081,356.00            $582.00
Figueroa High School             2949       $1,884,411.00            $639.00
Ford High School                 2739       $1,763,916.00            $644.00
Griffin High School              1468         $917,500.00            $625.00
Hernandez High School            4635       $3,022,020.00            $652.00
Holden High School                427         $248,087.00            $581.00
Huang High School                2917       $1,910,635.00            $655.00
Johnson High School              4761       $3,094,650.00            $650.00
Pena High School                  962         $585,858.00            $609.00
Rodriguez High School            3999       $2,547,363.00            $637.00
Shelton High School              1761       $1,056,600.00            $600.00
Thomas High School               1635       $1,043,130.00            $638.00
Wilson High School               2283       $1,319,574.00            $578.00
Wright High School               1800       $1,049,400.00            $583.00

                      Average Math Score Average Reading Score  \
school_name
Bailey High School                 77.05                 81.03
Cabrera High School                83.06                 83.98
Figueroa High School               76.71                 81.16
Ford High School                   77.10                 80.75
Griffin High School                83.35                 83.82
Hernandez High School              77.29                 80.93
Holden High School                 83.80                 83.81
Huang High School                  76.63                 81.18
Johnson High School                77.07                 80.97
Pena High School                   83.84                 84.04
Rodriguez High School              76.84                 80.74
Shelton High School                83.36                 83.73
Thomas High School                 83.42                 83.85
Wilson High School                 83.27                 83.99
Wright High School                 83.68                 83.95

                      Passing Math Percentage Passing Reading Percentage  \
school_name
Bailey High School                     66.68%                     81.93%
Cabrera High School                    94.13%                     97.04%
Figueroa High School                   65.99%                     80.74%
Ford High School                       68.31%                     79.30%
Griffin High School                    93.39%                     97.14%
Hernandez High School                  66.75%                     80.86%
Holden High School                     92.51%                     96.25%
Huang High School                      65.68%                     81.32%
Johnson High School                    66.06%                     81.22%
Pena High School                       94.59%                     95.95%
Rodriguez High School                  66.37%                     80.22%
Shelton High School                    93.87%                     95.85%
Thomas High School                     93.27%                     97.31%
Wilson High School                     93.87%                     96.54%
Wright High School                     93.33%                     96.61%

                      Overall Passing Rate
school_name
Bailey High School                  54.64%
Cabrera High School                 91.33%
Figueroa High School                53.20%
Ford High School                    54.29%
Griffin High School                 90.60%
Hernandez High School               53.53%
Holden High School                  89.23%
Huang High School                   53.51%
Johnson High School                 53.54%
Pena High School                    90.54%
Rodriguez High School               52.99%
Shelton High School                 89.89%
Thomas High School                  90.95%
Wilson High School                  90.58%
Wright High School                  90.33%

## Highest-Performing Schools (by % Overall Passing)

In [20]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("Overall Passing Rate", ascending=False)
top_schools.head(5)

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Rate
school_name,,,,,,,,
Cabrera High School,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =per_school_summary.sort_values("Overall Passing Rate", ascending=True)
bottom_schools.head(5)

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Rate
school_name,,,,,,,,
Rodriguez High School,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [22]:
# Separate the data by grade
ninth_graders = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete[school_data_complete["grade"] == "12th"]

# Group by `school_name` and take the mean of the `math_score` column for each grade
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores into a single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_math_scores,
    "10th Grade": tenth_grader_math_scores,
    "11th Grade": eleventh_grader_math_scores,
    "12th Grade": twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
print(math_scores_by_grade)

                       9th Grade  10th Grade  11th Grade  12th Grade
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Score by Grade

In [23]:
# Group by `school_name` and take the mean of the `reading_score` column for each grade
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores into a single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_reading_scores,
    "10th Grade": tenth_grader_reading_scores,
    "11th Grade": eleventh_grader_reading_scores,
    "12th Grade": twelfth_grader_reading_scores
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th Grade", "10th Grade", "11th Grade", "12th Grade"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
print(reading_scores_by_grade)

                       9th Grade  10th Grade  11th Grade  12th Grade
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

In [24]:
## Scores by School Spending
# Define bins and labels for spending ranges
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create a copy of the school summary
per_school_summary = pd.DataFrame({
    "Average Math Score": school_data_complete.groupby("school_name")["math_score"].mean(),
    "Average Reading Score": school_data_complete.groupby("school_name")["reading_score"].mean(),
    "Total Budget": school_data.groupby("school_name")["budget"].sum(),
    "Total Students": student_data["school_name"].value_counts() 
    })

# Add "Per Student Budget"
per_school_summary["Per Student Budget"] = per_school_summary["Total Budget"] / per_school_summary["Total Students"]

# Categorize spending based on the bins
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(
    per_school_summary["Per Student Budget"], 
    bins=spending_bins, 
    labels=spending_labels, 
    include_lowest=True
)

In [25]:
# Create a copy of the school summary
school_spending_df = per_school_summary.copy()


print(school_spending_df)

                       Average Math Score  Average Reading Score  \
school_name
Bailey High School              77.048432              81.033963
Cabrera High School             83.061895              83.975780
Figueroa High School            76.711767              81.158020
Ford High School                77.102592              80.746258
Griffin High School             83.351499              83.816757
Hernandez High School           77.289752              80.934412
Holden High School              83.803279              83.814988
Huang High School               76.629414              81.182722
Johnson High School             77.072464              80.966394
Pena High School                83.839917              84.044699
Rodriguez High School           76.842711              80.744686
Shelton High School             83.359455              83.725724
Thomas High School              83.418349              83.848930
Wilson High School              83.274201              83.989488
Wright High School              83.682222              83.955000

                       Total Budget  Total Students  Per Student Budget  \
school_name
Bailey High School          3124928            4976               628.0
Cabrera High School         1081356            1858               582.0
Figueroa High School        1884411            2949               639.0
Ford High School            1763916            2739               644.0
Griffin High School          917500            1468               625.0
Hernandez High School       3022020            4635               652.0
Holden High School           248087             427               581.0
Huang High School           1910635            2917               655.0
Johnson High School         3094650            4761               650.0
Pena High School             585858             962               609.0
Rodriguez High School       2547363            3999               637.0
Shelton High School         1056600            1761               600.0
Thomas High School          1043130            1635               638.0
Wilson High School          1319574            2283               578.0
Wright High School          1049400            1800               583.0

                      Spending Ranges (Per Student)
school_name
Bailey High School                         $585-630
Cabrera High School                           <$585
Figueroa High School                       $630-645
Ford High School                           $630-645
Griffin High School                        $585-630
Hernandez High School                      $645-680
Holden High School                            <$585
Huang High School                          $645-680
Johnson High School                        $645-680
Pena High School                           $585-630
Rodriguez High School                      $630-645
Shelton High School                        $585-630
Thomas High School                         $630-645
Wilson High School                            <$585
Wright High School                            <$585

In [26]:
# Calculate averages for the desired columns
spending_math_scores = per_school_summary.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean()
spending_reading_scores = per_school_summary.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean()
spending_passing_math = per_school_summary.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean()
spending_passing_reading = per_school_summary.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean()

C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\3050963095.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = per_school_summary.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean()
C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\3050963095.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = per_school_summary.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean()
C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\3050963095.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = per_school_summary.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean()
C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\3050963095.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = per_school_summary.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean()

In [27]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading
})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
Spending Ranges (Per Student),,,,
<$585,83.455399,83.933814,83.455399,83.933814
$585-630,81.899826,83.155286,81.899826,83.155286
$630-645,78.518855,81.624473,78.518855,81.624473
$645-680,76.997210,81.027843,76.997210,81.027843

## Scores by School Size

In [28]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [29]:
# Size Analysis
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize schools based on the number of students
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], bins=size_bins, labels=size_labels)

In [30]:
# Calculate the number of students passing math per school
per_school_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["student_name"].count()

# Calculate the number of students passing reading per school
per_school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["student_name"].count()

# Calculate the number of students passing both math and reading per school
per_school_passing_overall = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].groupby("school_name")["student_name"].count()

# Calculate percentages
per_school_summary["Passing Math Percentage"] = (per_school_passing_math / per_school_summary["Total Students"]) * 100
per_school_summary["Passing Reading Percentage"] = (per_school_passing_reading / per_school_summary["Total Students"]) * 100
per_school_summary["Overall Passing Rate"] = (per_school_passing_overall / per_school_summary["Total Students"]) * 100

# Calculate averages for spending ranges
spending_summary = pd.DataFrame({
    "Average Math Score": per_school_summary.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean(),
    "Average Reading Score": per_school_summary.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean(),
    "% Passing Math": per_school_summary.groupby("Spending Ranges (Per Student)")["Passing Math Percentage"].mean(),
    "% Passing Reading": per_school_summary.groupby("Spending Ranges (Per Student)")["Passing Reading Percentage"].mean(),
    "% Overall Passing": per_school_summary.groupby("Spending Ranges (Per Student)")["Overall Passing Rate"].mean()
})

C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\493539941.py:19: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "Average Math Score": per_school_summary.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean(),
C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\493539941.py:20: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "Average Reading Score": per_school_summary.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean(),
C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\493539941.py:21: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "% Passing Math": per_school_summary.groupby("Spending Ranges (Per Student)")["Passing Math Percentage"].mean(),
C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\493539941.py:22: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "% Passing Reading": per_school_summary.groupby("Spending Ranges (Per Student)")["Passing Reading Percentage"].mean(),
C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\493539941.py:23: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "% Overall Passing": per_school_summary.groupby("Spending Ranges (Per Student)")["Overall Passing Rate"].mean()

In [31]:
# Calculate the number of students passing math per school
per_school_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["student_name"].count()

# Calculate the number of students passing reading per school
per_school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["student_name"].count()

# Calculate the number of students passing both math and reading per school
per_school_passing_overall = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].groupby("school_name")["student_name"].count()

# Calculate percentages
per_school_summary["Passing Math Percentage"] = (per_school_passing_math / per_school_summary["Total Students"]) * 100
per_school_summary["Passing Reading Percentage"] = (per_school_passing_reading / per_school_summary["Total Students"]) * 100
per_school_summary["Overall Passing Rate"] = (per_school_passing_overall / per_school_summary["Total Students"]) * 100

# Categorize schools based on size
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Add "School Size" to per_school_summary
per_school_summary["School Size"] = pd.cut(
    per_school_summary["Total Students"],
    bins=size_bins,
    labels=size_labels,
    include_lowest=True
)

# Calculate averages for size ranges
size_summary = pd.DataFrame({
    "Average Math Score": per_school_summary.groupby("School Size")["Average Math Score"].mean(),
    "Average Reading Score": per_school_summary.groupby("School Size")["Average Reading Score"].mean(),
    "% Passing Math": per_school_summary.groupby("School Size")["Passing Math Percentage"].mean(),
    "% Passing Reading": per_school_summary.groupby("School Size")["Passing Reading Percentage"].mean(),
    "% Overall Passing": per_school_summary.groupby("School Size")["Overall Passing Rate"].mean()
})

# Format the results
size_summary["Average Math Score"] = size_summary["Average Math Score"].map("{:.2f}".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:.2f}".format)
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:.2f}%".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:.2f}%".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the DataFrame
size_summary

C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\2892525080.py:31: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "Average Math Score": per_school_summary.groupby("School Size")["Average Math Score"].mean(),
C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\2892525080.py:32: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "Average Reading Score": per_school_summary.groupby("School Size")["Average Reading Score"].mean(),
C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\2892525080.py:33: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "% Passing Math": per_school_summary.groupby("School Size")["Passing Math Percentage"].mean(),
C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\2892525080.py:34: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "% Passing Reading": per_school_summary.groupby("School Size")["Passing Reading Percentage"].mean(),
C:\Users\vikto\AppData\Local\Temp\ipykernel_6232\2892525080.py:35: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "% Overall Passing": per_school_summary.groupby("School Size")["Overall Passing Rate"].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55%,96.10%,89.88%
Medium (1000-2000),83.37,83.86,93.60%,96.79%,90.62%
Large (2000-5000),77.75,81.34,69.96%,82.77%,58.29%

## Scores by School Type

In [32]:
# Add "School Type" to per_school_summary
per_school_summary["School Type"] = school_data.set_index("school_name")["type"]

# Group the per_school_summary DataFrame by "School Type" and average the results
average_math_score_by_type = per_school_summary.groupby("School Type")["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby("School Type")["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby("School Type")["Passing Math Percentage"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby("School Type")["Passing Reading Percentage"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby("School Type")["Overall Passing Rate"].mean()

# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

# Format type summary
type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:.2f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:.2f}".format)
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:.2f}%".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:.2f}%".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:.2f}%".format)

# Display results
print(type_summary)

            Average Math Score Average Reading Score % Passing Math  \
School Type
Charter                  83.47                 83.90         93.62%
District                 76.96                 80.97         66.55%

            % Passing Reading % Overall Passing
School Type
Charter                96.59%            90.43%
District               80.80%            53.67%